.modal {
  font-family: "CabinetGrotesk", sans-serif;
  color: #333;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}
.modal__content {
  background-color: #fff;
  border-radius: 16px;
  position: relative;
  padding: 32px 32px 40px;
  width: 496px;
  box-sizing: border-box;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
}

.modal__title {
  margin: 0 0 24px;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
}

.modal__close {
  position: absolute;
  top: 16px;
  right: 20px;
  background: none;
  border: none;
  font-size: 20px;
  color: #666;
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 16px;
}

.modal__label {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.modal__input {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  padding: 8px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);

  outline: none;
}

.modal__input:focus {
  border-bottom-color: #000;
}
.modal__legend {
  margin-bottom: 12px;
  padding: 0;
  font-weight: 700;
}
.modal__radio-buttons {
  border: none;
  padding: 0;
  margin: 0 0 24px;
  display: flex;
  flex-direction: column;
}
.modal__radio-input {
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: 0;
}
.modal__label_type_radio:has(.modal__radio-input:checked) {
  color: rgba(0, 0, 0, 1);
}
.modal__submit {
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding: 0 16px;
  height: 36px;
  line-height: 36px;

  border: none;
  border-radius: 6px;
  cursor: pointer;

  width: fit-content;
}

.modal__submit:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal__submit:disabled {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
}
.modal__label_type_radio {
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  font-weight: 500;
  margin-bottom: 8px;
  margin-left: 0;
  padding-left: 0;
}
